* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.t-font-serif {
    font-family: "Roboto Serif", serif;
}

.t-font-sans {
    font-family: "Roboto", sans-serif;
}

.t-font-cond {
    font-family: "Roboto Condensed", sans-serif;
}

.t-font-mono {
    font-family: "Roboto Mono", monospace;
}

main {
    min-height: 100dvh;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    color: #000;
    background: #fff;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.6;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #ddd;
}
