@media screen and (max-width: 1200px) {
    .t-navbar {
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
    }
    .t-navbar-links {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .t-navbar {
        font-size: 1rem;
        gap: 1rem;
    }
    main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .t-balance-amount {
        font-size: 2.5rem;
    }
    .t-before-after {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .t-stat-grid {
        grid-template-columns: 1fr;
    }
    .t-bar-chart {
        height: 150px;
    }
    .t-row {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .t-balance-amount {
        font-size: 2rem;
    }
}
