.t-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    padding: 1.25rem 0;
    font-size: 1.25rem;
}

.t-navbar-links {
    display: flex;
    justify-content: right;
    gap: 1.5rem;
}
