#index-hero-typewriter {
    border-right: 3px solid var(--primary);
    padding-right: 2px;
    animation: blink 1s step-end infinite;
    color: var(--primary);
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--primary);
    }
}
